<div class="container-fluid">
  <div class="row top-section">
    <img class="w-100" src="../../../assets/images/community.png">
  </div>
  <div class="row">
    <div class="col-12 mt-4">
      <h4 class="text-center txtHeading">Celebrate Community</h4>
      <p class="text-center">Lorem ipsum has been the best industry's standard<br> dummy text ever since the 1500s</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <ul class="text-center list-style-none d-flex m-auto">
        <li class="list-icons list-dashed-icons">
          <ul><li></li></ul>
        </li>
        <li class="list-icons list-dashed-icons">
          <ul><li></li></ul>
        </li>
        <li class="list-icons list-dashed-icons">
          <ul><li></li></ul>
        </li>
        <li class="list-icons list-dashed-icons">
          <ul><li></li></ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mb-5">
      <button mat-raised-button class="btn-green br-20" routerLink="/signup">Sign Up</button>
      <button mat-raised-button class="ml-5 br-20" routerLink="/signin">Sign In</button>
    </div>
  </div>
</div>