.top-section img{
    height: 100vh;
}
.txtHeading{
    color: #9044d6;
    font-weight: 500;
}
.list-style-none{
    list-style: none;
    width: 20%;
}
@media (min-width: 481px) and (max-width: 767px) {
    .list-style-none{
        list-style: none;
        width: 100%;
    }
}

  
@media (min-width: 320px) and (max-width: 480px) {
    .list-style-none{
        list-style: none;
        width: 100%;
    }
}